{%extends 'canal_corretor/fvnb.html'%}
{% load staticfiles %}
{% block venda %}
 {%for ep in eps %}
    <div class="col-sm-4"> 
	    <h1 class="lg"> {{ep.titulo}} </h1>
	    <h3 class="lg"> {{ep.subtitulo}} </h3>
	    <img src="{% static 'ep.img' %}" title="{{ep.img}}"/>
	 </div>	
     {% endfor %}     
{% endblock venda %}
