{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>FVNB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' % }"></script><![endif]-->
		<link rel="stylesheet" href="{%  static 'css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %} /><![endif]-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}"> 
	<body >
		<div id="page-wrapper">
		<!-- Header -->
 		    <div id="header-wrapper">
			<header id="header" class="container">
	
        <!-- Logo -->
			<div id="logo">
				<a href="{% url 'canal_corretor.views.portal'%}"><img id="img-logo" src="{%static 'img/logo-newbank.png'%}"/></a>

            </div>

        <!-- Nav -->
			<nav id="nav">
		    	<ul>
                    <li class="current"><a href="{% url 'canal_corretor.views.portal'%}">Inicio</a> </li>
                    <li><a href="{% url 'canal_corretor.views.pronto'%}"> Pronto Para Morar</a></li>
                    <li><a href="{% url 'canal_corretor.views.construcao'%}">Em Construção </a> </li>
					<li><a href="{% url 'canal_corretor.views.lancamento' %}"> Lançamento</a></li>
                    <li><a href="{% url 'canal_corretor.views.em_breve' %}">Em Breve</a></li>
                    <li> <span class="glyphicon glyphicon-user" >{{user.get_username}}</span> <span class="glyphicon glyphicon-off " arial-hidden="true"><a href="{% url 'canal_corretor.views.do_logout'%}">Sair </a> </span>
				</ul>
			</nav>

			</header>
        </div>

			<!-- Empreendimentos -->
			{%block ep_list %} {% endblock ep_list %} 
            {%block ep_detail %} {% endblock ep_detail %}
            {%block list_categoria %} {%endblock list_categoria %}
           	{%block cat_ep %} {%endblock cat_ep %}
			
				

			</div>
           
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
			<script src="{% static 'js/jquery.dropotron.min.js'%}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'js/main.js'%}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	     	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
       
	</body>
</html>
