{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>FVNB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' % }"></script><![endif]-->
		<link rel="stylesheet" href="{%  static 'css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %} /><![endif]-->
         	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}">
            <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
		    <script src="{% static 'js/jquery.mask.js'%}"></script>	 
			<script src="{% static 'js/jquery.dropotron.min.js'%}"></script>
			
        
    <body>
		<div id="page-wrapper">
		<!-- Header -->
 		    <div id="header-wrapper">
			<header id="header" class="container">
	
        <!-- Logo -->
			<div id="logo">
				<a href="{% url 'canal_corretor.views.portal'%}"><img id="img-logo" src="{%static 'img/logo-newbank.png'%}"/></a>

            </div>

        <!-- Nav -->
			<nav id="nav">
		    	<ul>
                    <li class="current"><a href="http://newbankurbanismo.com.br/">Site New Bank</a> </li>
                    <li><a href="{% url 'canal_corretor.views.corretor_new'%}">Cadastro do corretor </a> </li>
					<li><a href="{% url 'canal_corretor.views.imobiliaria_new' %}"> Cadastro de Imobiliárias</a></li>
                                      
				</ul>
			</nav>

			</header>
        </div>

			
			{%block index%} {%endblock index%}
						
			{% block cad_corretor %} {% endblock cad_corretor %}
			 
			{% block cad_imobi %} {% endblock cad_imobi %} 
			
			{% block enviado%}  {% endblock enviado %}
			
			{%block cad_afiliado%} 	{% endblock cad_afiliado %}
			
			{%block login%}  {% endblock login %}
			         
            {% block cadastro %}{% endblock cadastro %} 

            {%block user %} {% endblock user %}
				

			</div>
       <script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'js/main.js'%}"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
       
	</body>
</html>
