{% load staticfiles %}
<html>
<head>
	<title>Canal do Corretor</title>
    <meta charset="utf-8">
    <meta name="description" content="Portal de Corretores de Imóveis desenvolvido para New Bank">
    <meta name="author"  content="Fabiano Teichmann">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">	
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src= {% static 'js/jquery.mask.js'%}> </script>
</head>
<body >
	<div>
		<div class="container'">
		<div class="row">
			
			{%block index%} {%endblock index%}
			
			{% block bem_vindo %} {% endblock bem_vindo %}
			
			{% block cad_corretor %} {% endblock cad_corretor %}
			
			 
			{% block cad_imobi %} {% endblock cad_imobi %} 
			
				
			{% block enviado%}  {% endblock enviado %}

			
			{%block cad_afiliado%} 	{% endblock cad_afiliado %}
			
			{%block login%}  {% endblock login %}
			
			{%block ep_list %} {% endblock ep_list %}
		  
        	{% block ep_detail %} {% endblock ep_detail %}
        
            {% block cat_ep %} {% endblock cat_ep %}           
            {% block cadastro %}{% endblock cadastro %} 
            {%block user %} {% endblock user %}


                

			 

		</div>
	</div>
	
</body>
</html>
