{%extends 'canal_corretor/base-cad.html'%}
{% load staticfiles %}

{% block cad_corretor %}
  <span class="clearfix"><br></span>
  <h1 class="lg">Cadastro Corretores</h1>
        
<form action="{% url 'canal_corretor.views.corretor_new' %}" method="POST" class="form-nb" name="form" >  
                                                                                                   
  {% csrf_token %}
  <div class="col-sm-5 col-md-offset-1">
      <label>Nome: (Campo Obrigatório) </label>
      {{form.nome}}
      <label>Data de Nascimento: (Campo Obrigatório)</label>
      {{form.nasc}}
      {{form.nasc.error_messages|striptags}}
      <label>Cpf:(Campo Obrigatório)  </label>
      {{form.cpf}}
      {{form.cpf.error|striptags}}
      <label>Telefone:</label> 
      {{form.telefone}}
      <label>Celular:(Campo Obrigatório) </label>
      {{form.phone}}
      {{form.phone.error|striptags}}
      <label> Email: (Campo Obrigatório) </label>
      {{form.email}}
      <label>Site </label>
      {{form.site}}
      {{form.site.error|striptags}}

  </div>
  <div class="col-sm-5"> 
      <label>Endereço:(Campo Obrigatório)  </label>
      {{form.endereco}}
      {{form.endereco.error|striptags}}
      <label>CEP:(Campo Obrigatório) </label>
      {{form.cep}}
      <label>Cidade:(Campo Obrigatório) </label>
      {{form.cidade}}
      {{form.cidade.error|striptags}}
      <label>Bairro:(Campo Obrigatório) </label>
      {{form.bairro}}
      {{form.bairro.error|striptags}}
      <label> Estado:(Campo Obrigatório) </label>
      {{form.estado}}
      {{form.estado.error|striptags}}
      
      <label class="lb">Creci:(Campo Obrigatório) </label>
      <div class="col-sm-6"> {{form.creci}}</div>
      <div class="col-sm-3"> {{form.tipo}} </div> 
      <div class="col-sm-3">  {{form.uf}} </div>
  </div>
              <span class="clearfix"> </span> 
              <div class="col-md-5 col-md-offset-1 ">
                    <hr>
                     <button class="btn btn-default lg" type="submit"> Cadastrar </button>
              </div>
         </form>       
    </div>
 <script type="text/javascript">
    var maskBehavior = function (val) {
         return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
        options = {onKeyPress: function(val, e, field, options) {
             field.mask(maskBehavior.apply({}, arguments), options);
              }
        };
     
    $('.phone').mask(maskBehavior, options);
    $(function() {
        $('.nasc').mask('00/00/0000');
        $('.cep').mask('00000-000');
        $('.creci').mask('0000.00');
        $('.phone_with_ddd').mask('(00) 00000-0000');
        $('.percent').mask('##0,00%', {reverse: true});
        $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
        $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
        $('.fallback').mask("00r00r0000", {
          translation: {
            'r': {
              pattern: /[\/]/,
              fallback: '/'
            },
            placeholder: "__/__/____"
          }
        });

        $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});

        $('.cep_with_callback').mask('00000-000', {onComplete: function(cep) {
            console.log('Mask is done!:', cep);
          },
           onKeyPress: function(cep, event, currentField, options){
            console.log('An key was pressed!:', cep, ' event: ', event, 'currentField: ', currentField.attr('class'), ' options: ', options);
          },

          onInvalid: function(val, e, field, invalid, options){
            var error = invalid[0];
            console.log ("Digit: ", error.v, " is invalid for the position: ", error.p, ". We expect something like: ", error.e);
          }
        });

        $('.crazy_cep').mask('00000-000', {onKeyPress: function(cep, e, field, options){
          var masks = ['00000-000', '0-00-00-00'];
            mask = (cep.length>7) ? masks[1] : masks[0];
      $('.crazy_cep').mask(mask, options);
    }});

    $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
    $('.cpf').mask('000.000.000-00', {reverse: true});
    $('.money').mask('#.##0,00', {reverse: true});

    var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    spOptions = {
      onKeyPress: function(val, e, field, options) {
          field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };

    $('.sp_celphones').mask(SPMaskBehavior, spOptions);

    $(".bt-mask-it").click(function(){
      $(".mask-on-div").mask("000.000.000-00");
      $(".mask-on-div").fadeOut(500).fadeIn(500)
    })

    $('pre').each(function(i, e) {hljs.highlightBlock(e)});
  });
</script>
  

{% endblock cad_corretor %}
