{%extends 'canal_corretor/base-cad.html'%}
{% load staticfiles %}
{% block cad_imobi %}
<div class="col-md-10 col-md-offset-1">
   
  <h1 class="lg"> Cadastro de Imobiliarias </h1> 
  <form action="{% url 'canal_corretor.views.imobiliaria_new' %}" method="POST" class="form-nb">
  {% csrf_token %}
  <div class="col-sm-5 col-sm-offset-1"> 
    <label> Imagem:</label>
  	{{form.img}}
   	<label>Razão social:(Campo Obrigatório) </label>
  	{{form.razao}}
   	{{form.razao.error}}
    <label>Nome Fantasia: (Campo Obrigatório) </label>
    {{form.nome}}
    {{form.mome.error}}
    <label>Cnpj: (Campo Obrigatório)  </label>
    {{form.cnpj}}
    {{form.cnpj.error}}
    <label>Endereço: (Campo Obrigatório) </label>
    {{form.endereco}}
    {{form.endereco.error}}
    <label>Bairro:(Campo Obrigatório) </label>
    {{form.bairro}}
    {{form.bairro.error}} 
    <label>Cidade:(Campo Obrigatório)</label> 
    {{form.cidade}}
    {{form.cidade.error}}
    <label>Cep:(Campo Obrigatório) </label>
    {{form.cep}}
    {{form.cep.error}}
    <label>Estado:(Campo Obrigatório) </label>
    {{form.estado}}
    {{form.estado.error}}
  </div>
  <div class="col-sm-5 ">
    <label class="lb"> Creci: (Campo Obrigatório) </label>
    <div class="col-sm-6  "> {{form.creci_j}} </div>
    <div class="col-sm-3 "> {{form.tipo}} </div> 
    <div class="col-sm-3  ">  {{form.uf}} </div>     
    <label>Telefone:</label>
    {{form.telefone}}
    {{form.telefone.error}}
    <label>Celular:(Campo Obrigatório) </label>
    {{form.phone}}
    {{form.phone.error}}
    <label>E-mail:(Campo Obrigatório) </label>
    {{form.email}}
    {{form.emai.error}}
    <label>Site: </label>
    {{form.site}}
    {{form.site.error}}
    <label>Responsável: </label>
    {{form.resp}}
    {{form.resp.error}}
    <label>Email responsável: </label>
    {{form.email_resp}}
    {{form.email_resp.error}}
    <label>Cpf:</label>
    {{form.cpf}}
    {{form.cpf.error}}
    <label>Creci Fisíco:</label>
    {{form.creci_f}}
    {{form.creci_f.error}}
    
  </div>
  <span class="clearfix"> </span>    
  <div class="col-sm-5 col-sm-offset-1 "> 
  <hr>  
  <button class="btn btn-default lg" type="submit">cadastrar</button> 
  </div>  
  </form>
  
</div>
    <script type="text/javascript">
      $(function() {
        $('.date').mask('00/00/0000');
        $('.cep').mask('00000-000');
       ;
        $('.phone_with_ddd').mask('(00) 0000-0000');
       ;
        $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
        $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
       $('.fallback').mask("00r00r0000", {
          translation: {
            'r': {
              pattern: /[\/]/,
              fallback: '/'
            },
            placeholder: "__/__/____"
          }
        });

        $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});

        $('.cep_with_callback').mask('00000-000', {onComplete: function(cep) {
            console.log('Mask is done!:', cep);
          },
           onKeyPress: function(cep, event, currentField, options){
            console.log('An key was pressed!:', cep, ' event: ', event, 'currentField: ', currentField.attr('class'), ' options: ', options);
          },
          onInvalid: function(val, e, field, invalid, options){
            var error = invalid[0];
            console.log ("Digit: ", error.v, " is invalid for the position: ", error.p, ". We expect something like: ", error.e);
          }
        });

        $('.crazy_cep').mask('00000-000', {onKeyPress: function(cep, e, field, options){
          var masks = ['00000-000', '0-00-00-00'];
            mask = (cep.length>7) ? masks[1] : masks[0];
      $('.crazy_cep').mask(mask, options);
    }});

    $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
    $('.cpf').mask('000.000.000-00', {reverse: true});
    $('.money').mask('#.##0,00', {reverse: true});

    var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    spOptions = {
      onKeyPress: function(val, e, field, options) {
          field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };

    $('.sp_celphones').mask(SPMaskBehavior, spOptions);

    $(".bt-mask-it").click(function(){
      $(".mask-on-div").mask("000.000.000-00");
      $(".mask-on-div").fadeOut(500).fadeIn(500)
    })

    $('pre').each(function(i, e) {hljs.highlightBlock(e)});
  });
</script>

{% endblock cad_imobi %}

