{%extends 'canal_corretor/base-cad.html'%}
{% load staticfiles %}
{% block cadastro %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">      
       
        <h1 class="lg">Crie seu usuário!!</h1>
      
      
        <form action="{% url 'canal_corretor.views.cadastro' %}" method="POST" class="form-nb">

        {% csrf_token %}
            <div class="col-md-6 col-md-offset-3">
            {{msg}}
	         <label>Nome de usuário(Sem Espaços em branco)</label>
	         {{form.username}} 
             <p>  {{form.username.error}} </p>
	         <label>E-mail</label>
	         {{form.email}}
             <p>{{form.email.error}} </p>

             <label> Senha( Crie senha com 8 digitos com letras e dígitos) </label>
	         {{form.password}}
        {{form.password.error}}
            <hr>
	        <button class="btn btn-default lg"submit">cadastrar</button>
            </div>  
     </form>    
  </div>
</div>

{% endblock cadastro%}
