{% extends 'canal_corretor/base_nb.html' %}
{% load staticfiles %}
    {% block list_categoria %}

<div class ="col-sm-10 col-sm-offset-1">    	        
    {% for cat in cats %} 
	<div class="col-sm-1">
        <a href="{% url 'canal_corretor.views.cat_detail' pk=cat.pk %}">
        <img src="/{{cat.img}}" alt="{{cat.titulo}}" class="img-rounded col-nb"/></a>
	</div>
	{%endfor%}
</div>
<br> 
<!-- slide -->
<div class="col-sm-8 col-sm-offset-2">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
    {% for slide in slides %} 
   <li data-target="#myCarousel" data-slide-to="{{slide.ordem}}" class="{{slide.active}}"></li>
 {%endfor%}
  </ol>
 
  <!-- Wrapper for slides -->

   <div class="carousel-inner" role="listbox">
   	{% for slid in slides %}		
      <div class="item {{slid.active}}">
        <img src="/{{slid.img}}" alt="{{slid.titulo}}" class="img-resposive">
         
      </div>
      {% endfor %}
  </div>   
  <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
<br>
 
</div>
</div>
<!-- slide -->

				
	
{% endblock list_categoria %}

