{% extends 'canal_corretor/base_nb.html'%}
{% load staticfiles%}
{% load staticfiles %}
{%block cat_ep %}
<div id="features-wrapper">
 	<div class="container">

        <div class="row">
            <h2>{{cat.nome}}</h2>
            {% for ep in eps%}
		   <div class="4u 12u(medium)">
            <section class="box feature">
                 <a href="{% url 'canal_corretor.views.ep_detail' pk=ep.pk %}" class="image featured">
                 <img src="/{{ep.img}}" alt="{{ep.titulo}}" height="150" />
			<div class="inner">
           	     <h2 class="nb-a">{{ep.titulo}}</h2> </a>
									
			     <p class="p-nb">{{ep.sub_titulo}}</p>
			</div>
		   </section>
				
		</div>
        {%endfor%}			
		</div>


	</div>
</div>
{%endblock cat_ep %}
