{%extends 'canal_corretor/base_nb.html'%}
{% load staticfiles %}
{%block ep_detail %}
   <script> 
        $('#myTab a').click(function (e) {
              e.preventDefault()
                    $(this).tab('show')
        })
        $('#myTab a[href="#planta"]').tab('show') // Select tab by name
        $('#myTab a[href="#table"]').tab('show')
        $('#myTab a[href="#image"]').tab('show')
        $('#myTab a[href="#video"]').tab('show')
        $('#myTab a[href="#material"]').tab('show')
   
</script>
<div class="container">
<div class="row"> 
    <div class="col-sm-8 col-sm-offset-2 ">  
   
        
      <ul class="nav nav-tabs tab-nb " role="tablist" id="myTab" >
           
        <li class="nav tab" ><a class="nav-link active tab-nb" data-toggle="tab" role="tab" href="#home" aria-controls="home">Descrição</a></li>
        <li class="nav tab" ><a  class="nav-link tab-nb" data-toggle="tab" role="tab" href="#planta" aria-controls="planta"> Plantas</a></li>
        <li class="nav tab"><a class="nav-link tab-nb" aria-controls="image" href="#image" data-toggle="tab" role="tab">Images</a></li>
        <li class="nav tab"><a class="nav-link tab-nb" data-toggle="tab" role="tab" href="#video"aria-controls="video">Vídeo</a></li>
        <li class="nav tab"><a class="nav-link tab-nb" aria-controls="material" href="#material" data-toggle="tab" role="tab">Material de Apoio</a></li>
        <li class="nav tab"><a class="nav-link tab-nb" aria-controls="table" role="tab" href="#table" data-toggle="tab">Tabela de Vendas</a></li>
      </ul>
    </div>  

    <!-- termina o nav -tab -->
    <!-- CONTEUDO DO EMPREENDIMENTO -->
<div class="tab-content show-nb col-sm-12 col-sm-ofsset-1 " > 
        <h1 class="title-nb"> {{eps.titulo}} </h1>
    <div class="tab-pane fade in active col-sm-10 col-sm-offset-1 " role="tabpanel" id="home">
        <img class="img-responsive" src="/{{eps.img}}" alt="{{eps.titulo}}">  
        <h3 class="title-nb">{{eps.sub_titulo}}</h3>
        <p class="p-nb">{{ eps.descricao|linebreaksbr }}</p>
    </div>
    <div id="planta" class="tab-pane fade col-sm-8 col-sm-offset-2" role="tabpanel" >
        
        
        <hr>
      <table class="table table-hover table-condensed">  
      {% for pt in ptas %}
        <tr>
          <td> <a target="_blank" href="/{{pt.file}}">
            <button class="btn btn-default btn-nb"><span class="glyphicon glyphicon-download"></span>
            Baixar</button></a>
          </td>
          <td>  
             <p class="p-nb"> {{pt.nome}} </p>
          </td>        
        </tr>
        {%endfor%}
      </table> 
       
              
        
    </div>
    <div id="table" class="tab-pane fade col-sm-10 col-sm-8 col-sm-offset-2" role="tabpanel">

        {% for tb in tbs %}
        
        <hr>
        <table class="table table-hover table-condensed">
        <tr>
          <td> <a target="_blank" href="/{{tb.file}}"> <button class="btn btn-default btn-nb"><span class="glyphicon glyphicon-download"></span>
            Baixar</button></a></td>
          <td><p class="p-nb"> {{tb.nome}}</p> </td>

        </tr>
          {%endfor%}
          </table>
    </div>

    <div id="image" class="tab-pane fade  col-sm-8 col-sm-offset-3" role="tabpanel">
        
        {% for img in imgs %}
        <hr>
        <table class="table table-hover table-condensed">
        <tr>
          <td> <a target="_blank" href="/{{img.file}}"> <button class="btn btn-default btn-nb"><span class="glyphicon glyphicon-download"></span>
            Baixar</button></a></td>
          <td><p class="p-nb"> {{img.nome}}</p> </td>

        </tr>
          {%endfor%}
          </table>
    </div>



    <div id="video" class="tab-pane fade col-sm-8 col-sm-offset-2" role="tabpanel">
      {% for vd in vds %}
     
      <section class="box feature"> 
        <iframe width="640" height="360"  src="{{vd.iframe}}"></iframe>
      </section>
      <div class="inner">
        {{vd.nome}}
      </div>  
        
      {% endfor %}
    </div>
    
    <div id="material" class="tab-pane fade col-sm-8 col-sm-offset-2" role="tabpanel"> 
       
       <hr>
        
        {% for mt in mts %}
        <table class="table table-hover table-condensed">
        <tr>
          <td> <a target="_blank" href="/{{mt.file}}"> <button class="btn btn-default btn-nb"><span class="glyphicon glyphicon-download"></span>
            Baixar</button></a></td>
          <td><p class="p-nb"> {{mt.nome}}</p> </td>

        </tr>
          {%endfor%}
          </table> 
           
    </div>
      
</div>
<!-- termina empreendimentos -->
   </div>
</div>
{%endblock ep_detail %}