{% load staticfiles %}}
<html>
<head>
    <title> FVNB</title>
    <meta charset="utf-8">
    <meta name="description" content="Portal de Corretores de Imóveis desenvolvido para New Bank">
    <meta name="author"  content="Fabiano Teichmann">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">	
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- sem o javscripit que aplica a mascará -->
    
</head>
<body>

<div class="container-fluid">
    <div class="col-sm-12 col-sm-offset-1 ">
        <nav class=" navbar-static-top navbar-nb">
             <ul class=" nav nav-pills">
                 <li class="logo-nb col-md-2">  <a href="{% url 'canal_corretor.views.portal' %}">
                    <img class="img-reponsive" src="{% static 'img/brand.png'%}" alt="Logo New Bank"></a>
		 </li>
      		     <span class="clear-fix"> </span>  
                 <li class="col-sm-2" col-sm-ofsset-1> <a class="link-nb" href="{% url 'canal_corretor.views.lancamento' %}">
		    <p>  Lançamento </p></a></li>
                 <li class=" col-sm-2"> <a class="link-nb" href="{% url 'canal_corretor.views.portal'%}">
	            <p> Em Constução </p></a> </li>
		 <li class=" col-sm-3"> <a class="link-nb" href="{% url 'canal_corretor.views.pronto' %}">
		    <p> Pronto Para Morar </p></a>
		 </li>
                 <li class="col-sm-1">
                    <a class="link-nb" href="{% url 'canal_corretor.views.do_logout'%}"> <p>Sair </p> </a>  
                 </li>

                            
            </ul>        
        </nav> 
    </div>

<span class="clear-fix"> </span>
<br>
    <div class="content-nb"> 
	{%block ep_list %} {% endblock ep_list %}
    {%block ep_detail %} {%endblock ep_detail%}
    </div>



</div>

</body>
</html>
