{%extends 'canal_corretor/base-cad.html'%}
{% load staticfiles %}
{% block index %}
<div class="row">
<div class="col-sm-11 col-sm-offset-1">
    <div class="col-md-10 col-sm-offset-1">
       <img src="" class="img-responsive" alt="">         
    </div>
    <div id="msg"> 
        {%if messages %}
        <ul class="messages">
            {%for message in messages %}
            <li {%if message.tags %} class="{{message.tags}}" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{message}}
           </li>
           {%endfor %}
        </ul>
        {%endif %}
    </div>
    <div class="col-sm-4">
        <article>
            <h3 class="lg-title"> Serviço Exclusivo New Bank.</h3>
            <p class="p-nb1">Para estreitar o relacionamento entre a NEW BANK URBANISMO e suas imobiliárias parceiras, nasceu a FVNB (Força Venda New Bank), um serviço especializado no relacionamento com imobiliárias e corretores.</p><br>
            <p class="p-nb1">O objetivo de nossa ferramenta é trazer facilidades para nossos corretores, disponibilizando todo material necessário aos parceiros New Bank.</p>
        </article>
       
        <article>
            <h3 class="lg-title">Serviços oferecidos:</h3>
            <ul>
                <li class="p-nb1">Portal exclusivo para consultores imobiliários</li>
                <li class="p-nb1">Materiais de merchandising para ponto de venda</li>
                <li class="p-nb1">Materiais publicitários (folders, flyers, caderno do corretor)</li>
                <li class="p-nb1">Materiais de apoio à vendas (plantas baixas e imagens, vídeos)</li>
                <li class="p-nb1">Atualização e envio de tabelas de preços</li>
            </ul>
        </article>
    </div>

    <div class="col-sm-5 col-sm-offset-1">  
        <h3 class="lg-title"> Login </h3>  
        <form action="{% url 'canal_corretor.views.do_login' %}" method="post" class="form-nb">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuário" class="form-control "> <br>
            <input type="password" name="password" placeholder="Senha" class="form-control "> <br> 
            <button class="btn btn-default lg-nb" type="submit">Login</button>
               
        </form>
    </div>    
  
   
  
</div>  
</div>  

    
    {%endblock index%}

