.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}



.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

 .form-campo input, textarea, label {
    width: 100%;
  
    border-color: #86744f !important;    
    border-width: 0 0 2px 0;
   
    color: #86744f !important;
    text-transform:uppercase;
   

}
.forms {
    position: fixed;
    
}
.form-group{
    border-radius: 30px;
   
    position: relative;
    top:5em;
 
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
.button-send {
    color:#ffff;   
    margin-right: 40%;
    margin-left: 2%;
    max-width: 30%;
    margin-top: 2%;
    font-size: 2em;

}

.label-nb{
    font-size: 1.5em;
    color:#86744f;
    font-family: 
 }
.duo {
    width: 5em;;

}
.creci {
    width:25em;
}
.titulo{
    
    text-align: center;
    color: #86744f;
    
}

.modal-footer {   border-top: 0px; }
   
.navbar-default{ 

	background-color: #86744f;
    border-width: 0;
    margin-bottom: 0;
}
.login {
    position: absolute;
    top:20%;
    right: 40%;
   
}
.lg {
   color: #86744f;
   text-align: center; 
   margin-top: 40px; 
}
.alerta :hover {
    background-color: #ff3333;




}
.lg-a {
   color: #fff;
   margin-left: 0.5em;
   text-transform: uppercase;
   text-align: center;
   font-size: 1.5em;
}
.fvnb {
    
    color: #fff

}
.cicle {
   border-radius: 15%;
   border-color: #86744f;
   background: #86744f;


}
.plink {
    font-size: 1.0em;
    color: #86744f !important;
    text-transform: uppercase;
    padding-right: 5px;

}
.menu {
    position: relative;
    top:0;
    height: 10%;    
    background-color: #86744f;
    width: 100%,

}
.menu p {

    color: #fff;    
    text-transform: uppercase;
    font-size: 1.0em;
    margin-right: 1.2em;
    margin-top: 1.5em;

}
.logoimg {
    position: absolute;
    top:0.2em;
    left: 40%;
}
.user {
width: 4em;
height: 4em;
position: relative;
top: 0;
left:  60em;

}
